header.header
    .hdeader__column
        a(href=routes.home)
            i.fab.fa-youtube
    .hdeader__column
        form(action=routes.Search, method="get")
            input(type="text" placeholder="Search...", name="term")
    .hdeader__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In